Source: nagios3
Section: net
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: sean finney <seanius@debian.org>, Marc Haber <mh+debian-packages@zugschlus.de>, Joerg Jaspert <joerg@debian.org>, Alexander Wirt <formorer@debian.org>, Jan Wagner <waja@cyconet.org>, Luk Claes <luk@debian.org>
Homepage: http://www.nagios.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nagios/nagios3/
Vcs-Svn: svn://svn.debian.org/pkg-nagios/nagios3/
Standards-Version: 3.8.3
Build-Depends: debhelper, dpatch (>= 2.0.10), po-debconf, libperl-dev,
 libpng12-dev, libgd2-noxpm-dev (>= 2.0.1) | libgd2-xpm-dev (>= 2.0.1), iputils-ping,
 autotools-dev, dpkg-dev (>= 1.13.19), hardening-wrapper

Package: nagios3-common
Architecture: all
Depends: nagios-plugins-basic, coreutils (>= 4.5.3), bsd-mailx | mailx, adduser, lsb-base (>= 3.0-3), ucf (>= 0.28), ${misc:Depends}, ${perl:Depends}, ${misc:Depends}
Recommends: nagios-plugins
Description: support files for nagios3
 Nagios is a monitoring and management system for hosts, services and
 networks. nagios3-common contains the common files for the nagios3 package.
 .
 Nagios' features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Nagios is designed to be easy to understand and modify to fit your own needs.
 .
 This package is the new version 3.x series of nagios, which replaced 
 the 2.x versions.
 .
 Nagios is a replacement of the Netsaint project. It accepts and uses the
 previous Netsaint modules transparently.
 .
 Upstream URL: http://www.nagios.org/

Package: nagios3-cgi
Architecture: any
Replaces: nagios3-common, nagios3-doc
Depends: nagios3-common (= ${source:Version}), coreutils (>= 4.5.3), ucf (>= 0.28), apache2-utils, ${misc:Depends}, ${perl:Depends}, ${misc:Depends}, ${shlibs:Depends}, adduser
Recommends: apache2 | httpd, nagios-images (>> 0.1)
Description: cgi files for nagios3
 Nagios is a monitoring and management system for hosts, services and
 networks. nagios3-common contains the common files for the nagios3 package.
 .
 Nagios' features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Nagios is designed to be easy to understand and modify to fit your own needs.
 .
 This package is the new version 3.x series of nagios, which replaced 
 the 2.x versions.
 .
 Nagios is a replacement of the Netsaint project. It accepts and uses the
 previous Netsaint modules transparently.
 .
 Upstream URL: http://www.nagios.org/


Package: nagios3
Architecture: any
Depends: nagios3-core (= ${binary:Version}), nagios3-cgi (= ${binary:Version}), ${misc:Depends}
Suggests: nagios-nrpe-plugin
Description: A host/service/network monitoring and management system
 Nagios is a monitoring and management system for hosts, services and
 networks.
 .
 Nagios' features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Nagios was written in C and is designed to be easy to understand and modify
 to fit your own needs.
 . 
 This is a metapackage which depends on the nagios core and the webfrontend
 .
 This package is the new version 3.x series of nagios, which replaced 
 the 2.x versions.
 .
 Nagios is a replacement of the Netsaint project. It accepts and uses the
 previous Netsaint modules transparently.
 .
 Upstream URL: http://www.nagios.org/

Package: nagios3-core
Architecture: any
Depends: ${shlibs:Depends}, nagios3-common (= ${source:Version}), ${perl:Depends}, ${misc:Depends}
Suggests: nagios-nrpe-plugin
Replaces: nagios3
Description: A host/service/network monitoring and management system core files
 Nagios is a monitoring and management system for hosts, services and
 networks.
 .
 Nagios' features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 This package included the nagios core without the webfrontend
 . 
 Nagios was written in C and is designed to be easy to understand and modify
 to fit your own needs.
 .
 This package is the new version 3.x series of nagios, which replaced 
 the 2.x versions.
 .
 Nagios is a replacement of the Netsaint project. It accepts and uses the
 previous Netsaint modules transparently.
 .
 Upstream URL: http://www.nagios.org/

Package: nagios3-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}
Description: documentation for nagios3
 Nagios is a monitoring and management system for hosts, services and
 networks.
 .
 Nagios' features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Nagios was written in C and is designed to be easy to understand and modify
 to fit your own needs.
 .
 This package is the new version 3.x series of nagios, which replaced 
 the 2.x versions.
 .
 Nagios is a replacement of the Netsaint project. It accepts and uses the
 previous Netsaint modules transparently.
 .
 Upstream URL: http://www.nagios.org/

Package: nagios3-dbg
Section: debug
Priority: extra
Architecture: any
Depends: nagios3-core (= ${binary:Version}), ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: debugging symbols and debug stuff for nagios3
 Nagios is a monitoring and management system for hosts, services and
 networks.
 .
 Nagios' features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Nagios was written in C and is designed to be easy to understand and modify
 to fit your own needs.
 .
 This package contains gdb debugging symbols for the nagios3 binaries and the
 mini_epn tool which can help in debugging Nagios problems. 
 .
 Nagios is a replacement of the Netsaint project. It accepts and uses the
 previous Netsaint modules transparently.
 .
 Upstream URL: http://www.nagios.org/
