Source: php-db-dataobject
Section: web
Priority: optional
Maintainer: david.hannequin@gmail.com
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.7.2

Package: php-db-dataobject
Architecture: all
Depends: php-pear, php-html-common (>= 1.2.1)
Description: An SQL Builder, Object Interface to Database Tables
 DataObject performs 2 tasks:
   1. Builds SQL statements based on the objects vars and the builder 
 methods.
   2. acts as a datastore for a table row.
   The core class is designed to be extended for each of your tables 
 so that you put the
   data logic inside the data classes.
   included is a Generator to make your configuration files and your 
 base classes.