Source: php-html-quickform
Section: web
Priority: optional
Maintainer: Guillaume Watteeux <guillaume.watteeux@gmail.com>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.7.2

Package: php-html-quickform
Architecture: all
Depends: php-pear, php-html-common
Description: The HTML  methods for HTML forms.
 The PEAR::HTML_QuickForm package provides methods for creating,
 validating, processing HTML forms.
 .
 Homepage: http://pear.php.net/package/HTML_QuickForm
 .
 NOTICE: development of HTML_QuickForm version 3 is frozen. Please 
 submit feature requests for HTML_QuickForm2 package.
