Source: centreon-2.1-fr-fr
Section: unknown
Priority: extra
Maintainer: david Hannequin <david.hannequin@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.centreon.com/Centreon/language-packs.html

Package: centreon-2.1-fr-fr
Architecture: all
Depends: centreon2 (>= 2.1.5),  gettext  
Description: Centreon french language pack. 
 Centreon french language pack.
