Source: php-auth-sasl
Section: web
Priority: optional
Maintainer: Olivier LI-KIANG-CHEONG <lkco@gezen.fr>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.7.2

Package: php-auth-sasl
Architecture: all
Depends: php-pear, php5-common
Description: Abstraction of various SASL mechanism responses
 Provides code to generate responses to common SASL mechanisms, 
 including:
 - Digest-MD5
 - CramMD5
 - Plain
 - Anonymous
 - Login (Pseudo mechanism)