#!/usr/bin/make -f

PEAR ?= /usr/bin/pear
pear_pkg = $(shell ls |grep Auth_SASL)
package = php-auth-sasl

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	if [ -f $(pear_pkg)/package.xml ]; then \
        rm $(pear_pkg)/package.xml; \
	fi
	dh_clean build-stamp configure-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/package.
	cp package.xml $(pear_pkg)/package.xml;
	$(PEAR) install -n -f -R debian/$(package) $(pear_pkg)/package.xml;
	rm -f debian/$(package)/usr/share/php/.filemap
	rm -f debian/$(package)/usr/share/php/.depdb
	rm -fr debian/$(package)/usr/share/php/.channels/
	rm -f debian/$(package)/usr/share/php/.lock
	rm -fr debian/$(package)/usr/share/php/.registry/
	rm -f debian/$(package)/usr/share/php/.depdblock
	### remove created tmp dir
	rm -fr debian/$(package)/tmp/


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

