Source: php-db-dataobject
Section: web
Priority: optional
Maintainer: David Hannequin <david.hannequin@gmail.com>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs, quilt
Standards-Version: 3.8.0

Package: php-db-dataobject
Architecture: all
Depends: php5, php5-cli, php-pear, php-date
Description: An SQL Builder, Object Interface to Database Tables
 DataObject performs 2 tasks:
   1. Builds SQL statements based on the objects vars and the builder 
 methods.
   2. acts as a datastore for a table row.
   The core class is designed to be extended for each of your tables 
 so that you put the
   data logic inside the data classes.
   included is a Generator to make your configuration files and your 
 base classes.
