Source: php-net-smtp
Section: web
Priority: optional
Maintainer: David Hannequin <david.hannequin@gmail.com>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.8.0

Package: php-net-smtp
Architecture: all
Depends: php5, php-pear, php-auth-sasl, php-net-socket
Description: An implementation of the SMTP protocol
 Provides an implementation of the SMTP protocol using PEAR's 
 Net_Socket class.
