#!/bin/sh

action=$1
version=$2

## Source debconf library
. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ] 

# which web-server should I use?

if [ "$action" = "configure" -a -z "$version" ] ; then
#	db_input critical centreon2/nagiosversion || true
#	db_go

	if [ -f /etc/mailname ] ; then
		HOSTNAME="$(cat /etc/mailname)"
	fi
	if [ -f $HOSTNAME ] ; then
		HOSTNAME="localhost"
	fi
	db_set centreon2/adminlogin centreon
	db_input high centreon2/adminlogin || true

	db_set centreon/adminmail centreon@$HOSTNAME
	db_input high centreon2/adminmail || true
	while [ ! "$passwordsmatch" ] ; do
	        db_set centreon2/adminpass centreon
		db_input high centreon2/adminpass || true
		db_set centreon2/adminpass-repeat centreon
		db_input high centreon2/adminpass-repeat || true
		db_go || true
		db_get centreon2/adminpass
		p1="$RET"
		if [ -z "$p1" ] ; then
			p1="PASSWORD_NOT_NULL"
		fi
		db_get centreon2/adminpass-repeat
		p2="$RET"
		if [ "$p1" = "$p2" ] ; then
			passwordsmatch="yes"
		else
			db_fset centreon2/adminpass seen false
			db_fset centreon2/adminpass-repeat seen false
			db_fset centreon2/adminpass-mismath seen false
			db_input critical centreon2/adminpass-mismath || true
		fi
	done
fi
db_go || true




if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ] ; then
	. /usr/share/dbconfig-common/dpkg/config.mysql
	dbc_dbuser=centreon2
	dbc_dbname=centreon2
	dbc_go centreon2 $@
fi


# db_input critical centreon2/nagios_config || true
# db_input critical centreon2/no_sudo || true

db_go || true

exit 0
