#!/bin/sh

action=$1
version=$2

## Source debconf library
. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ]

if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ] ; then 
	. /usr/share/dbconfig-common/dpkg/config.mysql
	dbc_dbuser=centreon2ndo
	dbc_dbname=centreon2ndo
	dbc_go centreon2-ndodb $@
fi

db_go || true

exit 0
