Source: php-net-traceroute
Section: web
Priority: optional
Maintainer: David Dumortier <d.dumortier@free.fr>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.7.2

Package: php-net-traceroute
Architecture: all
Depends: php-pear (5.2.6.dfsg.1), traceroute (>= 2.0.11)
Description: Execute traceroute
 OS independet wrapper class for executing traceroute calls
