Source: php-html-table
Section: web
Priority: optional
Maintainer: Guillaume Watteeux <guillaume.watteeux@gmail.com>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.7.2

Package: php-html-table
Architecture: all
Depends: php-pear, php-html-common
Description: THe PEAR::HTML_Table makes the design of HTML tables.
 The PEAR::HTML_Table package provides methods for easy and efficient 
 design of HTML tables.
 .
 For auto filling of data and such then check out 
 http://pear.php.net/package/HTML_Table_Matrix
