Source: php-db-dataobject-formbuilder
Section: web
Priority: optional
Maintainer: David Hannequin <david.hannequin@gmail.com>
Build-Depends: debhelper (>= 5), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.7.2

Package: php-db-dataobject-formbuilder
Architecture: all
Depends: php-pear, php-db-dataobject, php-html-quickform, php-date, php-html-table, php-html-quickform-elementgrid
Description: Class to automatically build HTML_QuickForm objects from a DB_DataObject-derived class
 DB_DataObject_FormBuilder will aid you in rapid application 
 development using the packages DB_DataObject and HTML_QuickForm. For 
 having a quick but working prototype of your application, simply 
 model the database, run DataObject&apos;s createTable script over it 
 and write a script that passes one of the resulting objects to the 
 FormBuilder class. The FormBuilder will automatically generate a 
 simple but working HTML_QuickForm object that you can use to test 
 your application. It also provides a processing method that will 
 automatically detect if an insert() or update() command has to be 
 executed after the form has been submitted. 
